<header class="card-header">
    <h1 class="card-title">Card Management</h1>
    <div class="card-actions">
        <button 
            class="card-icon-btn" 
            (click)="refresh()"
        >
            ⟳
        </button>
        <button 
            class="card-add-btn" 
            (click)="addCard()"
        >
            + Add Item
        </button>
    </div>
</header>
<main class="center-container">
    <section 
        *ngIf="cardList?.length; else noCards" 
        class="card-list"
    >
        <app-card @cardListFadeSlide 
            *ngFor="let card of cardList;" 
            [card]="card"
            (delete)="onDelete(card.id)"
        ></app-card>
    </section>

    <ng-template #noCards>
        <p 
            class="no-cards"
        >
            No cards available. Please add a card.
        </p>
    </ng-template>
</main>
