/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    height: 100dvh;
    width: 100%;
}

.center-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mb-40 {
    margin-bottom: 40px;
}

.d-flex {
    display: flex;
}


.justify-between {
    justify-content: space-between;
}

